<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IClassManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/GimnacioServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClassManager"
                contract="GimnacioService.IClassManager" name="NetTcpBinding_IClassManager">
                <identity>
                    <userPrincipalName value="TAKEMIKAZUCHI\jesus" />
                    <userPrincipalName value="LAPTOP-7E1OAAS2\Armando Reyes" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/GimnacioServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
                contract="GimnacioService.IUserManager" name="NetTcpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="TAKEMIKAZUCHI\jesus" />
                    <userPrincipalName value="LAPTOP-7E1OAAS2\Armando Reyes" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>